body{
	width:85%;

	
}

.A{
 width: 600px; height: 500px;"
}
.V{
	border: 1px solid black;
	width: 600px; 
	height: 580px;
	float:left;
	background-color: white;
	text-align: center;
	margin-left:20px;
	margin-top: 10px;
}
.F{
	
	clear: left;
	float:left;

}

form{
	width: 900px; 

	
}
#J{
	clear: left;
}
#A{
	background-color:#cce5ff;
	color:#0a4698;
	padding:8px;
	border-radius: 2px;
}
#B{
		background-color:#e2e3e5;
	color:#ccb087;
	padding:8px;
}
#C{
		background-color:#d4edda;
	color:#629671;
	padding:8px;
}
#D{
		background-color:#f8d7da;
	color:#f8d7da;
	padding:8px;
}
#E{
		background-color:#fff3cd;
	color:#c48e22;
	padding:8px;
}
#A1{
	background-color: white;
	color: #188fff;
	border:1px solid #188fff;
	border-radius:2px;
	padding: 8px;
	
}
#A2{
	background-color: white;
	color: #7a8289;
	border:1px solid #7a8289;
	border-radius:2px;
	padding: 8px;
	
}
#A3{
	background-color: white;
	color: #3caf56;
	border:1px solid #3caf56;
	border-radius:2px;
	padding: 8px;
	
}
#A4{
	background-color: white;
	color: #df4856;
	border:1px solid #df4856;
	border-radius:2px;
	padding: 8px;
	
}
#A5{
	background-color: white;
	color: #ffd44a;
	border:1px solid #ffd44a;
	border-radius:2px;
	padding: 8px;
	
}
#A6{
	background-color: white;
	color: #2dabbf;
	border:1px solid #2dabbf;
	border-radius:2px;
	padding: 8px;
	
}
#A7{
	background-color: white;
	color: white;
	
	padding: 8px;
	
}
#A8{
	
	
}
#A9{
	background-color: #007bff;
	color: white;
	border:1px solid #007bff;
	border-radius:2px;
	padding: 8px;
	
}
#A10{
	background-color: #6c757d;
	color: white;
	border:1px solid #6c757d;
	border-radius:2px;
	padding: 8px;
	
}
#A11{
	background-color: #28a745;
	color: white;
	border:1px solid #28a745;
	border-radius:2px;
	padding: 8px;
	
}
#A12{
	background-color: #dc3545;
	color: white;
	border:1px solid #dc3545;
	border-radius:2px;
	padding: 8px;
	
}
#A13{
	background-color: #ffc107;
	color: white;
	border:1px solid #ffc107;
	border-radius:2px;
	padding: 8px;
	
}
#A14{
	background-color: #17a2b8;
	color: white;
	border:1px solid #17a2b8;
	border-radius:2px;
	padding: 8px;
	
}
#A15{
	background-color: #f7f8f9;
	color: #707376;
	border:1px solid #f7f8f9;
	border-radius:2px;
	padding: 8px;
	
}
#A16{
	background-color: #343a40;
	color: white;
	border:1px solid #343a40;
	border-radius:2px;
	padding: 8px;
	
}















