html,body{
	
	
}

li{
    display:inline;
    padding:40px;
    position: relative;
	top: 20px;
	
	

 
 
}
a{
 text-decoration: none;	
 color: black;
 font-family: 'Roboto', sans-serif;
 
}
a:hover{color: green;}
ul{
	margin-left:550px;	
	margin-bottom: -45px;
	
}
#A{
	margin-left:150px;
}
#B{
	width:1400px;
	margin-left:50px;
}
#C{
	width:1400px;
	margin-left:50px;
}
#C{
	width:1400px;
	margin-left:50px;
}
#E{
	width:1400px;
	margin-left:50px;
}
h1{
	text-align: center;
}
#p{
	text-align: center;
}

#H{

	width:1400px;
	margin-left:50px;
}
#G{

	
	margin-left:300px;

}
input{
    margin-left:5px;
	width: 300px;
	height:40px;

}
textarea {
	margin-left:300px;
	width: 623px;
	height:100px;
}
#x{
 background-color:blue;
 width:150px;
 margin-left: 780px;"
}
#n{
	position: absolute;
	bottom: -2180px;
	right: 0px;
	width: 	500px;
	
}
#k{
	background-color: black;
	width:100%;
	height:200px;
	margin-left:50px;
	color:white;
}
.pp{
	padding-top: 20px;
	margin:12px;
}



